<main class="main-login">
  <div class="left-login">
    <h1>Register<br />And join our team</h1>
    <img
      src="https://i.postimg.cc/YC13sX2Z/Astronaut-cuate.png"
      class="left-login-img"
      alt="astronaut image"
    />
  </div>

  <div class="right-login">
    <div class="card-login">
      <h1>Register</h1>

      <div class="textfield">
        <label for="username">Username</label>
        <input
          type="text"
          [(ngModel)]="registerObj.username"
          name="username"
          placeholder="Username"
        />
      </div>

      <div class="textfield">
        <label for="email">Email</label>
        <input
          type="email"
          [(ngModel)]="registerObj.email"
          name="email"
          placeholder="Email"
        />
      </div>

      <div class="textfield">
        <label for="password">Password</label>
        <input
          type="password"
          [(ngModel)]="registerObj.password"
          name="password"
          placeholder="Password"
        />
      </div>

      <button class="btn-login" (click)="onRegister()">Register</button>

      <div>
        <button class="btn-route" routerLink="/login">
          Already have an account? Login
        </button>
      </div>
    </div>
  </div>
</main>
