server:
  port: 8080

spring:
  application:
    name: EmployeeManagement

  datasource:
    url: jdbc:postgresql://localhost:5432/EmployeeManagement
    username: postgres
    password: maysara
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
