/* Desktop Sidebar Layout */
@media screen and (min-width: 992px) {

    .navbar .container-fluid,
    .navbar-expand-lg .navbar-collapse,
    .navbar-expand-lg .navbar-nav {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .navbar {
        width: 17%;
        height: 100vh;
        align-items: flex-start;
    }

    .navbar-brand {
        margin-left: 0.5rem;
        margin-bottom: 1rem;
    }
}

/* Nav links */
.navbar .navbar-nav .nav-link {
    color: #fff;
    font-size: 1.1em;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    font-weight: 600;
}

/* Brand */
.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
}

/* Sidebar helper */
.sidebar {
    padding-bottom: 20px;
}

/* Logout button at bottom */
.logout-container {
    margin-top: auto;
    width: 100%;
    padding: 10px;
    margin-top: 170%;
}